{% extends 'base/base.html' %}
{% block title %}Task history{% endblock title %}

{% block content %}
    <div class="container container-history">
        <table class="table table-bordered" style="background-color: white;">
            <thead style="background-color: rgb(207, 76, 76);">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date Create</th>
                    <th scope="col">Date To Do</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}