{% macro form(form) %}
    <div class="container container-signup">
        <div class="form-side-left">
            <img src="../static/img/universe.jpg" alt="universe.jpg">
        </div>
        
        <div class="form-side-right">
            <div class="signinup">
                <p class="s-left">Sign Up</p><p class="s-right">Sign In</p>
            </div>
            <form action="">
                <p class="links-sign">
                    <a class="signin" href="{{ url_for('auth.signin') }}">Sign In</a>
                    or
                    <a class="signup" href="{{ url_for('auth.signup') }}">Sign Up</a>
                </p>
                <!-- Condición para saber si es SIGNUP O SIGNIN: -->
                {% if form %}
                    <div>
                        <label for="username">USERNAME:</label> <br>
                        <input type="text" placeholder="Enter your username" required>
                    </div>
                {% endif %}
                <!-- Fin de la condición -->
                <div>
                    <label for="emal">EMAIL:</label><br>
                    <input type="email" placeholder="example@domain.com" required>
                </div>
                <div>
                    <label for="password">PASSWORD:</label><br>
                    <input type="password" placeholder="********" required>
                </div>
                <div class="check-password">
                    <a href="#">Forgot your password?</a>
                </div>
                <div>
                    <button type="submit">Create Account</button>
                </div>
            </form>
        </div>
    </div>
{% endmacro %}

{% macro navbar() %}
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Gkvn</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('public.index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Sign Out</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('public.create_task')}}">Add Task</a>
                    <a class="dropdown-item" href="#">pendient</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('public.account_user') }}">Edit Account</a>
                </div>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">USERNAME</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            </div>
        </nav>
{% endmacro %}